/* stretch the whole page */
html {
    height: 100%;
}

body {
    height: 100%;
}

/* containers inside body */
button {
    display: block;
    background-color: green;
    margin: 20px auto;
    width: 15%;
    aspect-ratio: 5/1;

}

.BigDiv {
    margin: 20px auto;
    max-height: 85%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
}

.rowDiv {
    flex: 1;
    display: flex;
    justify-content: center;
}

.smallDiv {
    flex: 1;
    border: 1px solid;
}


